.layout{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content{
    flex: 1;
    margin-top: 70px;
    padding: 1rem;
    width: 100%;

    @media (min-width: 577px){
        padding: 1.5rem;
        min-width: 1200px;
        margin: 70px auto 0;
    }

    @media (min-width: 768px){
        padding: 2rem;
    }
}