#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  color: #333;
  background-color: #f8f8f8;
}

.app{
  min-height: 100vh;
}

a {
  color: #ff6b8b;
  text-decoration: none;
  transition: color 0.3 ease;
}
a:hover{
  color: #ff4757;
}

/*scroll suave*/
html{
  scroll-behavior: smooth;
}